{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content_header %}
    <strong>Change Password</strong>
{% endblock %}

{% block content %}
    <div class="card card-primary col-lg-6 offset-3 p-0">
    <div class="card-header">
        <div class="card-title">Change Password</div>
    </div>

        <div class="card-body">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit" name="action">Change Password</button>
            </form>
        </div>
    </div>
{% endblock %}
