{% extends "account/base.html" %}
{% load i18n %}

{% block content %}
    <h3>Account Recovery</h3>
    <p>
        Enter the email associated with your account and an email will be sent with instuctions on how to reset your password.
    </p>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="{% trans 'Reset my password' %}"/>
    </form>
    <button class="btn btn-primary" onclick="window.history.back()">Back</button>
{% endblock %}
