{% extends "base.html" %}

{% block title %}
    New Employee
{% endblock %}

{% block Employee %}
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
                Employees
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        {% if perms.home.add_employee %}
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href={% url 'home:employee-new' %} class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add New Employee</p>
                    </a>
                </li>
            </ul>
        {% endif %}
        {% if perms.home.can_list_employees %}
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href={% url 'home:employees' %} class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>List/Search Employees</p>
                    </a>
                </li>
            </ul>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card card-primary col-lg-6 offset-lg-3">
            <div class="card-header">
                <h3 class="card-title">
                    New Employee
                </h3>
            </div>
            <div class="card-body">
                <form id="category_form" method="post" action="/home/">
                    {{ form.as_p }}
                    <input type="submit" name="submit" class="btn btn-success" value="Add New Employee"/>
                </form>
            </div>
        </div>

{% endblock %}