{% extends "base.html" %}
{% load static %}

{% block title %}iPassport{% endblock %}
{% block Administration_Menu %}
    <li class="nav-item">
        <a href={% url 'home:register' %} class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>New User</p>
        </a>
    </li>
{% endblock %}

{% block Employee %}
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
                Employees
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="pages/tables/simple.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add New Employee</p>
                </a>
            </li>
        </ul>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href={% url 'home:employees' %} class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>List/Search Employees</p>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}