{% extends "base.html" %}
{% load static %}

{% block title %}iPassport{% endblock %}

{% block Employee %}
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
                Employees
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        {% if perms.home.add_employee %}
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href={% url 'home:employee-new' %} class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add New Employee</p>
                    </a>
                </li>
            </ul>
        {% endif %}
        {% if perms.home.can_list_employees %}
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href={% url 'home:employees' %} class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>List/Search Employees</p>
                    </a>
                </li>
            </ul>
        {% endif %}
    </li>
{% endblock %}