{% if perms.students.modifyStudent %}
    <form class="btn" method="get" action="{% url 'students:modify_student' %}">
        <input type="hidden" name="student_id" value="{{ record.id }}">
        <input type="submit" value="Edit" class="btn btn-info">
    </form>
{% endif %}
{% if perms.students.deleteStudent %}
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#student-confirm-delete-modal"
            data-pk="{{ record.pk }}">
        Delete
    </button>
{% endif %}
