{% extends "base.html" %}
{% load static %}

{% block title %}Change Student{% endblock %}
{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Modify Student Info</h3>
        </div>
        <form method="post">
            <div class="card-body">
                <p>
                    <strong>Student RecId: </strong>{{ object.pk }}
                </p>
                {#            <p>#}
                {#                <strong>Student Name: </strong>{{ object.first_name}} {{ object.last_name}} ({{ object.pk}})#}
                {#            </p>#}

                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="card-footer">
                <input class="btn btn-primary" type="submit" name="submit" value="Save Changes">
            </div>
        </form>
    </div>
{% endblock content %}
{% block javascript %}
{{ form.media }}
{% endblock javascript %}