{% load render_table from django_tables2 %}
{% if perms.wiawdp.delete_contract %}
    <form id="delete-form" method="post" action="{% url 'wiawdp:delete_contracts' %}">
        {% csrf_token %}
        <input type="hidden" name="next-view-name" value="{{ request.resolver_match.view_name }}">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#contracts-confirm-delete-modal">
            Delete Selected
        </button>
    </form>
    {% include 'wiawdp/contract_confirm_delete_modal.html' %}
    {% include 'wiawdp/contracts_confirm_delete_modal.html' %}
{% endif %}
<div class="card">
    <div class="card-header d-flex align-items-center">
        <h3 class="card-title mr-auto">Contracts</h3>
        {% if filter %}
            <form method="get">
                {{ filter.form }}
            </form>
        {% endif %}

    </div>
    <div class="card-body p-0">
        {% render_table table %}
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        const contract_filter_selector = document.querySelector('#id_end_date');
        contract_filter_selector.addEventListener('change', (e) => {
            e.currentTarget.form.submit();
        })

    });
</script>
