{% extends "base.html" %}
{% load static %}

{% block title %}Add Contract{% endblock %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Modify Contract</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <p>
                <strong>Contract Number: </strong>{{ object.pk }}
            </p>
            <p>
                <strong>Client: </strong>{{ object.client.first_name}} {{ object.client.last_name}} ({{ object.client.pk}})
            </p>

            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="card-footer">
            <input class="btn btn-primary" type="submit" name="submit" value="Save Changes">
        </div>
    </form>
</div>
{% endblock content %}
{% block javascript %}
<script>
$(function() {
    $('input[name="end_date"]').daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        showDropdowns: true,
        locale: {
            format: 'Y-MM-DD hh:mm:ss'
        }
    });
});
</script>
{% endblock javascript %}
