{% extends "base.html" %}
{% load static %}

{% block title %}View Report{% endblock %}
{% block content %}
<div class="col-md-6 mx-auto">
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Period and Location</h3>
    </div>
    <form id="contract_form" method="post" action="{% url 'wiawdp:view_report' %}">
        <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="card-footer">
            <input class="btn btn-primary" type="submit" name="submit" value="Search">
        </div>
    </form>
</div>
</div>
{% endblock content %}
{% block javascript %}
<script>
$(function() {
    $('input[name="start_date"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'Y-MM-DD'
        }
    });
    $('input[name="end_date"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'Y-MM-DD'
        }
    });
});
</script>
{% endblock javascript %}
