<!DOCTYPE html>
{% extends 'base.html' %}
{%load render_table from django_tables2 %}
{% load static %}
{% block title %}Avtech Billing{%  endblock %}
{% block style_block %}
	<style>
	table,th,td{
	    border: 2px solid #151515;
	    border-collapse: collapse;
	}
	th, td{
	    padding: 5px;
	    text-align: center;
	}
    th{
        background-color: darkred;
    }
	</style>
{% endblock %}

{% block Billing_Application_Menu %}
    <a href="{% url 'billing:index' %}" class="nav-link">
        <i class="nav-icon fas fa-tree"></i>
        <p>
            Billing
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'billing:verify' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Verification</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'billing:payment' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Pay Tuition</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'billing:notice' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Payment Notice</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'billing:report' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sales Logs</p>
            </a>
        </li>
         <li class="nav-item">
            <a href="{% url 'billing:logs' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Logs Notice</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content_header %}Logs Notice{%  endblock %}
{% block content %}
    <div>

            {% if report %}
                <table style="width:100%">
                    <!-- <caption>Caption</caption> -->
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Report Type</th>
                        <!-- <th colspan="2">Telephone</th> -->
                    </tr>


                {% for report in reports %}
                    <tr>
                        <td>{{ report.startD }}</td>
                        <td>{{ report.endD }}</td>
                        <td>{{ report.type }}</td>

                    </tr>

                {% endfor %}
                </table>
            {% else %}
                    <strong>No logs available.</strong>
                {% endif %}

    </div>
{% endblock %}