<!--Template for pending list and schedule list:
    -I interpreted pending list to be and admin view for non-published schedules
    -this template generates tables for both these lists based off the structure seen in the photos provided (schedule_schedule list.png)

    available context variables: listType-> used for the list's title
                                myList  -> the list that will shown in the table
                                actions -> the action that the user should be able to preform on the list elements(not fully implemented)
 -->
{% extends "base.html" %}
{% load static %}
{% block title %} {{ listType }} list {% endblock %}
<!--    Nav Bar from home   -->
{% block extra_template_tag %}
    {% load home_extra %}
{% endblock %}

{% block sidebar-menu %}
    {% get_home_sidebar request perms %}
{% endblock %}

    <div class="content-wrapper">
        {% block content %}
  <h1> {{ listType }} List </h1>
  {% load render_table from django_tables2 %}
   <div class="card">
       {% if length > 0 %}
           {% render_table table %}
       {% else %}
           <h1 class="headline">No Active Schedules </h1>
       {% endif %}
   </div>
        <a href=/schedules/startone>To create a schedule click here</a>
    </div>
{% endblock %}
