<!--Template for pending list and schedule list:
    -I interpreted pending list to be and admin view for non-published schedules
    -this template generates tables for both these lists based off the structure seen in the photos provided (schedule_schedule list.png)

    available context variables: listType-> used for the list's title
                                myList  -> the list that will shown in the table
                                actions -> the action that the user should be able to preform on the list elements(not fully implemented)
 -->
{% extends "base.html" %}
{% load static %}
{% block title %} {{ listType }} list {% endblock %}
{% block sidebar %}
{% endblock %}
<div class="content-wrapper">
    {% block content %}
        <div class="card">
            <form method="post" class ="card-body">
                <h1 class = "card-header">Update Schedule</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="submit" class="btn btn-success" value="Save Changes"/>
            </form>
        </div>
    {% endblock %}
</div>

