<a href="#" class="nav-link">
    <i class="nav-icon fas fa-edit"></i>
    <p>
        Schedules
        <i class="fas fa-angle-left right"></i>
    </p>
</a>
<ul class="nav nav-treeview">
    <li class="nav-item">
        <a href="{% url 'schedules:schedulelist' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Schedule List</p>
        </a>
    </li>
    {% if perms.canapproveschedule  %}
        <li class="nav-item">
            <a href="{% url 'schedules:pendinglist' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Pending Schedules</p>
            </a>
        </li>
    {% endif %}
    {% if perms.cancreateschedule  %}
    <li class="nav-item">
        <a href="{% url 'schedules:startone' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Create Schedule</p>
        </a>
    </li>
    {% endif %}
</ul>